@import url('fonts.css');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  --milk:       #f6f6f3;
  --cheesecake: #f3f2ee;
  --mustard:    #e1c451;
  --aubergine:  #3b0221;
  --hot-pink:   #f51e92;

  --font-brand-name: 'Alegreya Sans', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-body: 'Outfit', 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --base-line-height: 1.5;

  color: var(--aubergine);
  background-color: var(--cheesecake);
  font-family: var(--font-body);
  font-size: 100%;
  line-height: --base-line-height;
}

.brand-name {
  font-family: var(--font-brand-name);
  font-weight: 900;
}

#index {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  .hc-logo {
    width: 15rem;
  }
  h1 {
    font-size: 6rem;
    margin-top: 1rem;
  }
  .shout {
    font-size: 133%;
  }
}
