---
layout: default
title: HeartConf'27
permalink: /
full_width: true
---

<section class="hero-box"> 
  <figure>
    <img alt="" src="images/hero-image.webp"></img>
    <svg class="watermark" viewBox="0 0 100 100"><use href="#svg-hc-watermark"/></svg> 
  </figure>
  {% include cta_box.html %}
</section>

<section class="fancy-headings page-section full-col" id="inspiring">
  <div>
    <h2>A different kind of developer conference</h2>
    <p>
      HeartConf is an experience, a unique gathering of curious, creative, and
      open minded people. A community of practice eager to share, and to learn.
      Through an eclectic line-up of speakers from within and outside of the
      field, we aim to inspire, and to spark the conversations that matter in
      the current moment.
    </p>
    <p>
      Read more about our <a href="/about">vision behind the conference</a>.
    </p>
  </div>
  <figure class="variant">
    <img src="images/inspiring.webp">
  </figure>
</section>

<section class="fancy-headings page-section full-col" id="connections">
  <figure>
    <img src="images/connections.webp">
  </figure>
  <div>
    <h2>Create lasting connections</h2>
    <p>
      You can watch a lot of great talks online, but there's no substitute for
      connecting with people face to face. With extended breaks between talks, and
      a wide range of fringe activities before, during, and after the
      conference, we make sure there is breathing room, so attendees can truly
      connect, and create faithful encounters.
    </p>
  </div>
</section>

<div id="from-the-archives" class="invert">
  <section class="fancy-headings page-section full-col">
    <h2>From the archives</h2>
    <div>
      {% include youtube.html id="-IGViUlbemo" %}
      <p>Yulia Statsev — To Loosen Up, to Put Together</p>
    </div>
    <div>
      {% include youtube.html id="MJzV0CX0q8o" %}
      <p>Lu Wilson — How to be Open</p>
    </div>
    <div>
      {% include youtube.html id="bTPzvX9-6VU" %}
      <p>Chris Adams — What You Can Do When Software is Heating the World</p>
    </div>
    <div>
      {% include youtube.html id="KKSexkjl6pw" %}
      <p>James Reeves — Living With Legacy Code</p>
    </div>
    <div>
      {% include youtube.html id="qyhjok21Y3o" %}
      <p>Connie — Creating a Language with Racket</p>
    </div>
  </section>
  <nav class="full-col">
    <a href="https://www.youtube.com/playlist?list=PLhYmIiHOMWoEgJEvgkmUe8D0agxy_T2vR">all 2019 videos</a> ·
    <a href="https://www.youtube.com/playlist?list=PLhYmIiHOMWoGI6sCm85EAIhk-Lm9GUFpo">all 2024 videos</a>
  </nav>
</div>

<section id="venue" class="full-col fancy-headings">
  <div>
    <h2>The Venue</h2>
    <p>The Lamot Congress and Heritage center will be our home during the
    conference. With a blend of modern and old industrial, this converted old
    brewery offers a beautiful auditorium for the main track, as well as eight
    other spaces, which we'll use for breaks, workshops, our signature Community
    Hall (aka "the reified hallway track"), and our brand new lightning talk
    open mic, the Renegade Stage!</p>
  </div>
  <figure>
    <img alt="The Lamot Congress Center" src="images/lamot.jpg"></img>
    <figcaption>The Congress Center</figcaption>
  </figure>
  <figure class="variant">
    <img alt="The Lamot Congress Center" src="images/lamot2.webp"></img>
    <figcaption>Community Hall</figcaption>
  </figure>
  <figure>
    <img alt="The auditorium" src="images/lamot3.webp"></img>
    <figcaption>Auditorium</figcaption>
  </figure>
  <figure class="variant">
    <img alt="Three historic wooden houses in Mechelen" src="images/mechelen_old_houses.jpg"></img>
    <figcaption>The historic city of Mechelen</figcaption>
  </figure>
  <figure>
    <img alt="The bar" src="images/bar.webp"></img>
    <figcaption>Bar & Sponsor expo</figcaption>
  </figure>
</section>

<section class="fancy-headings page-section" id="finest">
  <h2 class="full-col">Belgium's Finest</h2>
  <p class="full-col">Belgians take pride in their culinary traditions. We make
    sure you have tasty, wholesome food throughout the conference, to keep those
    brain cells firing.</p>
  <div>
    <img src="images/finest1.webp" />
    <img src="images/finest2.webp" />
    <img src="images/finest3.webp" />
    <img src="images/finest4.webp" />
    <img src="images/finest5.webp" />
    <img src="images/finest6.webp" />
    <img src="images/finest7.webp" />
    <img src="images/finest8.webp" />
  </div>
</section>


<div class="full-col">
  {% include newsletter.html %}
</div>

<section class="fancy-headings page-section full-col" id="organiser">
  <figure>
    <img src="images/organiser.webp">
    <figcaption>Arne Brasseur</figcaption>
  </figure>
  <div>
    <h2>Meet your organiser</h2>
    <p>
      HeartConf isn't a faceless, corporate mega-event — it's a labour of love. It is
      my greatest pleasure to bring this community together, to invite people to
      my home country, and to hear from people about how it touched their lives.
      That is what keeps me going. Thank you to everyone who helps to make this
      event the special place that it is. See you at HeartConf!
    </p>
  </div>
</section>

<section class="fancy-headings page-section full-col" id="final-cta">
  {% include cta_box.html %}
</section>
