<a target="_blank" id="magpie-production" href="https://magpie.software">
  <img alt="A Magpie Production" src="https://magpie.software/images/magpie-production.webp"></img>
</a>

<footer>
  <nav class="util-1col">
    <section>
      <h3>HeartConf</h3>
      <ul>
        <li><a href="https://magpie.software">by Magpie Solutions</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li><a href="https://berlincodeofconduct.org/">Code of Conduct</a></li>
      </ul>
    </section>
    <section>
      <h3>2019</h3>
      <ul>
        <li><a href="http://2019.heartofclojure.eu">Site</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLhYmIiHOMWoEgJEvgkmUe8D0agxy_T2vR">Videos</a></li>
        <li><a href="http://2019.heartofclojure.eu/gallery">Photos</a></li>
      </ul>
    </section>
    <section>
      <h3>2024</h3>
      <ul>
        <li><a href="http://2014.heartofclojure.eu">Site</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLhYmIiHOMWoGI6sCm85EAIhk-Lm9GUFpo">Videos</a></li>
        <li><a href="http://2024.heartofclojure.eu/gallery">Photos</a></li>
      </ul>
    </section>
    <section>
      <h3>Connect</h3>
      <ul>
        <li><a href="https://hello.arnebrasseur.net/subscription/form">Newsletter</a></li>
        <li><a href="https://functional.cafe/@heartconf">Mastodon</a></li>
        <li><a href="https://bsky.app/profile/heartconf.eurosky.social">Bluesky</a></li>
        <li><a href="https://www.instagram.com/heartconf.eu/">Instagram</a></li>
      </ul>
    </section>
  </nav>
</footer>
